.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    border-radius: 0.4rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: normal;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.3rem;
    border-width: 0.3rem;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.5rem;
    color: blue;
    font-size: 0.75rem;
}

sub { 
    top: 0.4rem; 
}

.termSpan {
    font-weight: bold;
    color: black;
}

.quoteContainer {
    margin: 1rem;
    display: flex;
}

.quoteSymbol {
    background-image: url('./quotation.png');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 5rem;
    width: 5rem;
    margin-right: 0.6rem;
    margin-top: 0.13rem;
    filter: opacity(0.65);
}

.quoteWrapper {
    font-style: italic;
    width: 80%;
}